<div class="load-program-picture-close" onclick="loadProgramClose()">
    X
</div>

<div class="load-program-picture-container">
    <div class="img-box">
        <img src="{{ asset('assets/img/programs/') }}{{ picture.picture }}" alt="{{ picture.pictureAlt }}">
    </div>
</div>

