@media screen and(max-width: 1000px){

  .homepage-search-text{
    h2{
      font-size: 1em;
    }
  }

  .homepage-search-barre{
    background-color: transparent;
    width: 90%;
    margin-top: 0;

    .homepage-search-first-row{
      display: block;
      .homepage-search-block{
        width: 100%;
        border: none;
        input[type="text"]{
          padding: 10px;
          width: 100%;
          border-radius: 20px;
          margin: 10px 0;
        }
        p{
          background-color: white;
          padding: 10px;
          width: 95%;
          border-radius: 20px;
          margin: 10px 0;
        }

        #result,#resultTypo, #resultAutocompletion ul{
          top: 45px;
          width: 94%;
          z-index: 9999;
        }
      }
    }
  }

  .homepage-search-others{
    background-color: white;
    border-radius: 20px;
    display: block;

    .homepage-search-others-block{
      width: 100%;
    }
  }

  .homepage-search-price{
    display: none;
  }

  .homepage-search-price-responsive{
    display: flex!important;
    margin-top: 20px;
    /*justify-content: flex-start;
    align-items: center;
    background-color: white;
    border-radius: 20px;*/
    input{
      margin: 0!important;
    }
    .img-box-responsive{
      width: 9%;
      img{
        width: 100%;
        height: auto;
      }
    }
    button{
      width: 100%;
      color: white;
      text-transform: uppercase;
      background-color: $yellow;
      border: 1px solid $yellow;
      border-radius: 20px;
      padding: 2% 0;
      margin-left: 3px!important;
    }
    button:hover{
      cursor: pointer;
      color: $yellow;
      background-color: white;
    }


  }

  .homepage-search-block-last,.homepage-search-block-submit {
    display: none;
  }

/*
  #homepage-search-submit-responsive{
    display: block;
    width: 100%;
    .homepage-search-btn{
      padding: 2%;
      border: 2px solid white;
    }

  }
  #homepage-search-submit{
    display: none
  }*/

}