@media screen and(max-width:930px){

  .header-container{
    display: none;
  }

  main{
    padding-top: 0;
  }

  .header-logo-white-box{
    display: block;
    width: 40%;
    position: absolute;
    top: 2%;
    left:50%;
    transform: translateX(-50%);
    z-index: 99999;
    img{
      width: 100%;
      height: auto;
    }
  }

  /*******************  MENU  *******************/

  .header-responsive-menu{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12vh;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .header-responsive-menu-container{
    height: 76%;
    width: 100%;
    background-color: $ligthblue;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    ul{
      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      li{
        width: 20%;
      }
    }

  }

  .header-responsive-img-box, .header-responsive-img-box-phone{
    width: 50%;
    margin: 0 auto;
    img{
      width: 100%;
      height: auto;
    }
  }

  .header-responsive-img-box-phone{
    width: 100%;
    border: 3px solid $ligthblue;
    border-radius: 50%;
  }

  /*******************  MAIN - CONTACT MODAL  *******************/
  .contact-modal{
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    overflow-y: scroll;
  }

  .contact-modal-container{
    display: block;
    .contact-modal-block{
      width: 100%;
      .contact-modal-social, .contact-modal-number, .contact-modal-mail{
        margin: 0;
      }
      .contact-modal-social{
        margin-top: 20px;
      }
    }
  }

  .contact-modal-block form{
    .form-row{
      display: block;
      width: 100%;
      .form-field{
        width: 100%;
      }
    }
  }




  /*******************  FOOTER  *******************/

  .footer-container{
    padding-bottom: 100px;
    height: 80vh;
  }

  .footer-number{
    display: none;
  }

  .footer-social{
    width: 45%;
    p{
      text-align: center;
    }
  }

  .footer-recruitment{
    width: 45%;
    p{
      text-align: center;
    }
    .footer-recruitment-btn{
      padding: 5px 10px;
      font-size: 0.9em;
      margin: 0 auto;
    }
  }

  .footer-second-row{
    flex-direction: column;
    font-size: 0.8em;
    line-height: 30px;

    nav{
      width: 100%;
      ul{
        flex-direction: column;
      }
    }
  }


}

