@media screen and(max-width: 1300px) {

  .search-modal-container{
    width: 100%;
    left: 0;
    z-index: -1;
  }

  .search-modal{
    display: none;
  }

  .search-top{
    .search-top-h1{
      top: 15%;
      h1{
        font-size: 1.6em;
      }
    }
  }

  .search-top .search-top-discover{
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
  }

  .search-search-barre{
    min-height: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px;
    top: 30%;

    .homepage-search-barre{
      margin: 0;
      border: none;
      width: 100%;

    }
  }

  .search-results{
    width: 100%;
  }
  .search-results-program{
    width: 100%;
  }

  .search-bottom-container{
    width: 100%;
    margin-left: 0;
  }

  .search-bottom-link-form{
    width: 50%;
  }

  .search-bottom-btn{
    text-align: center;
  }

  .search-bottom-text{
    width: 90%;
  }




}

@media screen and(max-width: 1000px){
  .homepage-search-block-submit{
    margin-top: 20px;
  }
}