@media screen and(max-width: 1300px) {
  /****************  SITEMAP  ****************/
  .sitemap-container{
    width: 100%;
    background-color: $lightbluetransparent;
    margin: 0;
    padding: 15vh 5%;
  }
  .sitemap-list-2{
    margin-left: 10%;
  }
  .sitemap-list-3{
    margin-left: 15%;
  }
  .sitemap-list-4{
    margin-left: 20%;
  }


  /****************  CONFIDENTIALITY  ****************/
  .confidentiality-container{
    width: 100%;
    background-color: $lightbluetransparent;
    margin: 0;
    padding: 15vh 5%;
  }

  /****************  LEGAL  ****************/
  .legal-container{
    width: 100%;
    background-color: $lightbluetransparent;
    margin: 0;
    padding: 15vh 5%;
  }



  /****************  TEAM  ****************/
  .team-container{
    width: 100%;
    background-color: $lightbluetransparent;
    margin: 0;
    padding: 15vh 5%;
  }



}
