@media screen and(max-width: 1300px) {

  .project-container{
    background-color: $lightbluetransparent;
  }

  .project-img{
    display: none;
  }

  .project-box .project-form{
    width: 100%;
  }

  .project-title-responsive{
    display: block;
  }
  .project-container h1{
    padding-top: 10vh;
  }



  /**************** AFTER *******************/

  .project-after-container{
    height: 100%;
    display: block;
    padding-bottom: 0;
  }
  .project-after-text-block, .project-after-img-box{
    width: 100%;
  }
  .project-after-img-box{
    height: 80%;
    .img-full{
      display: none;
    }
    .img-responsive{
      display: block;
      width: 200%;
      height: auto;
      transform: translateX(-40%);
    }
  }


}