/****************  SITEMAP  ****************/

.sitemap-container{
  width: 90%;
  margin: 10px auto;
  h1{
    color: $blue;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  nav li a, nav li{
    color: $ligthblue;
  }
  nav li a:hover{
    color: $blue;
  }
  li{
    list-style-type: circle;
  }
  li:hover{
    cursor: auto;
  }
}

.sitemap-list-2{
  margin-left: 2%;
}
.sitemap-list-3{
  margin-left: 3%;
}
.sitemap-list-4{
  margin-left: 4%;
}


/****************  SITEMAP  ****************/

.confidentiality-container{
  width: 90%;
  margin: 10px auto;
  min-height: 100vh;
  h1{
    color: $blue;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}



/****************  LEGAL  ****************/

.legal-container{
  width: 90%;
  margin: 10px auto;
  min-height: 100vh;
  h1{
    color: $blue;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}


/****************  TEAM  ****************/

.team-container{
  width: 90%;
  margin: 10px auto;
  min-height: 100vh;
  h1{
    color: $blue;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
}





















