.program-top{
  height: 90vh;
  overflow: hidden;
}

.program-modal{
  z-index: 99999;
}

.program-modal-close{
  display: none;
}


/********************** SECTION TOP ***********************/

.program-top{
  position: relative;
  p{
    color: $blue;
    padding: 10px;
    background-color: white;
    font-size: 1.2em;
  }
  .img-box{
    overflow: hidden;
  }

  .owl-nav{
    position: absolute;
    top: 30%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    button{
      width: 3%;
    }

    .icon-chevron-left, .icon-chevron-right{
      img{
        width: 100%;
        height: auto;
      }
    }

  }
  .owl-theme .owl-nav [class*=owl-]:hover{
    background-color: transparent;
  }


  .owl-dots{
    position: absolute;
    top: 90%;
    left: 45%;
    .owl-dot{
      span{
        width: 15px;
        height: 15px;
        border-radius: 0;
        border: 1px solid grey;
      }

    }
  }

  .movie-box{
    width: 100%;
    height: 90vh;
    iframe{
      width: 100%;
      height: 100%;
    }
  }

}

.program-top .owl-stage .img-box{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.program-top .program-back{
  width: 200px;
  height: 50px;
  border-radius: 20px;
  padding: 5px;
  position: absolute;
  top: 5%;
  left: 5%;
  z-index: 999;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: $ligthblue;
  font-size: 0.9em;
  img{
    width: 30%;
    height: auto;
  }
}

.program-top .program-title{
  position: absolute;
  top: 25%;
  left: 6%;
  z-index: 9999;
  h1{
    color: $blue;
    text-transform: uppercase;
  }
}

.program-top .program-form-btn{
  display: none;
}

/********************** SECTION MAIN CRITERIA ***********************/
.program-main-criteria{
  background-color: $blue;
}

.program-main-criteria-container{
  height: 15vh;
  width: 70%;
  background-color: $blue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  .program-elm-box{
    width: 35%;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .verticalDivider{
      width: 3px;
      height: 50px;
      background-color: white;
    }
  }
}


/********************** DESCRIPTION ***********************/

.program-description{
  width: 70%;
  padding-left: 3%;
  .title{
    color: $blue;
    margin-top: 40px;
    margin-bottom: 80px;
  }
}

.program-view{
  background-color: $lightbluetransparent;
  padding: 20px 30px 20px 50px;
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  h1{
    color: $ligthblue;
    text-transform: uppercase;
  }
  .program-view-container{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    .program-view-text{
      width: 60%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      p{
        color: $blue;
      }
      .program-price{
        color: $ligthblue;
        font-size: 1.3em;
        font-weight: 700;
      }
    }


    .program-view-plan{
      width: 15%;
      background-color: $ligthblue;
      border-radius: 50px;
      padding: 5px 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      a{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .img-box{
        width: 60%;
        img{
          width: 100%;
          height: auto;
        }
      }

    }
  }

}

.program-description-text{
  padding: 50px 0;
}

.program-description-text-btn{
  background-color: $ligthblue;
  border: 1px solid $ligthblue;
  color: white;
  text-align: center;
  padding: 8px 10px;
  margin: 40px auto;
  width: 35%;
  border-radius: 20px;
}

.program-description-text-btn:hover{
  cursor: pointer;
  color: $ligthblue;
  background-color: white;
}

.program-description-text-container{
  display: none;
  color: $blue;
  font-size: 1.1em;
}

.program-map{
  width: 70%;
  padding-left: 3%;
}

#mapid{
  width: 100%;
  height: 100vh;
  border: 1px solid $blue;
}

.program-description-more{
  width: 67%;
  margin-left: 3%;
  margin-top: 40px;
  margin-bottom: 50px;
  color: $blue;
  font-size: 1.1em;
}


/********************** OTHERS PROGRAMS ***********************/

.program-others{
  width: 70%;
  margin-left: 3%;
  h2{
    color: $blue;
    text-transform: uppercase;
  }
}

.program-others-container{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}

.program-others-block{
  width: 30%;
  margin: 20px 0;
  a{
    color: $blue;
  }
  .img-box{
    img{
      width: 100%;
      height: auto;
    }
  }
  .price{
    margin-top: 30px;
  }
}

/********************** ALERT ***********************/

.program-alert{
  width: 30%;
  margin-left: 23%;
  margin-bottom: 60px;
  text-align: center;
  h3{
    color: $blue;
    text-transform: uppercase;
    margin-top: 40px;
    margin-bottom: 20px;
  }
  a{
    color: white;
    background-color: $ligthblue;
    border: 1px solid $ligthblue;
    border-radius: 20px;
    padding: 5px 40px;
    text-transform: uppercase;
    font-weight: 700;
  }
  a:hover{
    color: $ligthblue;
    background-color: white;
  }
}









