{% extends 'web/_base.html.twig' %}

{% block title %}
    Politique de confidentialité
{% endblock %}


{% block content %}

    <div class="confidentiality-container">

        <h1>Politique de confidentialité</h1>

        {{ text.text|raw }}

    </div>





{% endblock %}