{% extends '/web/_base.html.twig' %}

{% block content %}

    <div class="emailSent-block">
        <p>Votre inscription à  la newsletter a bien été pris en compte.</p>
        <a href="{{ path('home') }}">Retour à la page d'accueil</a>
    </div>

{% endblock %}