{% extends 'web/_base.html.twig' %}

{% block title %}
    Mentions légales
{% endblock %}


{% block content %}

    <div class="legal-container">

        <h1>Mentions légales</h1>

        <p>A rédiger</p>

    </div>





{% endblock %}