{% extends 'web/_base.html.twig' %}

{% block title %}
    Rejoignez notre équipe
{% endblock %}


{% block content %}

    <div class="team-container">

        <h1>Rejoignez notre équipe</h1>

        {{ text.text|raw }}

    </div>





{% endblock %}