{% extends 'web/_base.html.twig' %}

{% block title %}
    Rejoignez notre équipe
{% endblock %}


{% block content %}

    <div class="team-container">

        <h1>Rejoignez notre équipe</h1>

        <p>A rédiger</p>

    </div>





{% endblock %}