*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style-type: none;
}

a{
  text-decoration: none;
}

a:hover, li:hover, button:hover{
  cursor: pointer;
}

@font-face{
  font-family:"Gilroy";
  src: url("../font/Gilroy-Regular.ttf") format("truetype");
}
@font-face{
  font-family:"Gilroy";
  src: url("../font/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
}


h1,h2,h3,a,li,p,label, button{
  font-family: "Gilroy", sans-serif;
}
