*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*li{
  list-style-type: none;
}*/

.li-none{
  list-style-type: none;
}

a{
  text-decoration: none;
}

a:hover, .li-none:hover, button:hover{
  cursor: pointer;
}

@font-face{
  font-family:"Gilroy";
  src: url("../font/Gilroy-Regular.ttf") format("truetype");
}
@font-face{
  font-family:"Gilroy";
  src: url("../font/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold;
}


h1,h2,h3,h4,h5,h6,a,li,p,label, button, input::placeholder{
  font-family: "Gilroy", sans-serif;
}

button{
  border: none;
}


.owl-theme .owl-dots .owl-dot span{
  background-color: $ligthblue;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span{
  background-color: $blue;
}