* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

a:hover, li:hover, button:hover {
  cursor: pointer; }

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold; }
h1, h2, h3, a, li, p, label {
  font-family: "Gilroy", sans-serif; }

/*******************  HEADER  *******************/
.header-logo-white-box {
  display: none; }

.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: white;
  position: fixed;
  z-index: 99; }

.header-img-box {
  width: 10%; }
  .header-img-box img {
    width: 100%;
    height: auto; }

.header-menu {
  width: 70%;
  display: flex;
  justify-content: flex-end; }
  .header-menu .header-menu-ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .header-menu .header-menu-ul li a {
      color: #002849; }
    .header-menu .header-menu-ul li a:hover {
      color: #FBB03B; }

.header-contact {
  width: 3%; }
  .header-contact img {
    width: 100%;
    height: auto; }

.header-responsive-menu {
  display: none; }

/*******************  MAIN  *******************/
main {
  min-height: 60vh;
  padding-top: 10vh; }

/*******************  MAIN - CONTACT MODAL  *******************/
.contact-modal {
  display: none;
  position: fixed;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: white;
  width: 80%;
  height: 80%;
  padding: 80px 60px; }

.contact-modal-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }

.contact-modal-block {
  width: 50%; }
  .contact-modal-block h2 {
    color: #002849;
    margin-bottom: 20px; }
  .contact-modal-block .contact-modal-number, .contact-modal-block .contact-modal-mail, .contact-modal-block .contact-modal-social {
    margin: 20px 0; }
  .contact-modal-block .contact-modal-number, .contact-modal-block .contact-modal-mail {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10%; }
    .contact-modal-block .contact-modal-number p, .contact-modal-block .contact-modal-mail p {
      line-height: 40px; }
    .contact-modal-block .contact-modal-number .img-box, .contact-modal-block .contact-modal-mail .img-box {
      width: 10%;
      margin-right: 5%; }
      .contact-modal-block .contact-modal-number .img-box img, .contact-modal-block .contact-modal-mail .img-box img {
        width: 100%;
        height: auto; }
    .contact-modal-block .contact-modal-number .text-box, .contact-modal-block .contact-modal-mail .text-box {
      color: #4489C8; }
      .contact-modal-block .contact-modal-number .text-box .number, .contact-modal-block .contact-modal-mail .text-box .number {
        font-size: 1.4em;
        font-weight: 700; }
  .contact-modal-block .contact-modal-social {
    margin-top: 100px; }
    .contact-modal-block .contact-modal-social h2 {
      text-align: center; }
  .contact-modal-block .contact-modal-social-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
    margin: 0 auto; }
    .contact-modal-block .contact-modal-social-box .img-box {
      width: 15%; }
      .contact-modal-block .contact-modal-social-box .img-box img {
        width: 100%;
        height: auto; }

.contact-modal-block form label {
  color: #4489C8; }
.contact-modal-block form input, .contact-modal-block form textarea {
  background-color: #e8f0fe;
  border: none;
  color: black;
  padding: 5px; }
.contact-modal-block form input {
  width: 100%;
  height: 30px; }
.contact-modal-block form .form-row {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .contact-modal-block form .form-row .form-field {
    width: 45%;
    margin: 10px 0; }
.contact-modal-block form .form-field-message {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start; }
  .contact-modal-block form .form-field-message textarea {
    width: 100%; }
.contact-modal-block form .form-submit {
  margin: 40px 0;
  text-align: center; }
  .contact-modal-block form .form-submit button {
    background-color: #4489C8;
    color: white;
    border: 1px solid #4489C8;
    padding: 3px 10%;
    border-radius: 20px;
    font-size: 1.2em;
    text-transform: uppercase; }
  .contact-modal-block form .form-submit button:hover {
    background-color: #FBB03B;
    border: 1px solid #FBB03B; }

.contact-modal-block .close {
  background-color: #002849;
  color: white;
  width: 30px;
  height: 30px;
  font-size: 1.1em;
  border: 1px solid #002849;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  float: right; }

.contact-modal-block .close:hover {
  cursor: pointer;
  background-color: white;
  color: #002849; }

/*******************  FOOTER  *******************/
.footer-container {
  background-color: #002849;
  padding-top: 60px;
  padding-bottom: 50px; }

/**** FIRST ROW ****/
.footer-first-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }

.footer-number {
  width: 20%;
  padding-top: 40px; }
  .footer-number p {
    color: white;
    font-size: 1.4em;
    font-weight: bold; }

.footer-social {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .footer-social p {
    font-size: 0.9em;
    color: white;
    margin-bottom: 20px;
    margin-left: 10%;
    text-transform: uppercase;
    font-weight: bold; }
  .footer-social .footer-social-link-block {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .footer-social .footer-social-link-block .footer-social-link-box {
      width: 20%;
      min-width: 55px; }
      .footer-social .footer-social-link-block .footer-social-link-box img {
        width: 100%;
        height: auto; }

.footer-recruitment {
  width: 20%; }
  .footer-recruitment p {
    font-size: 0.9em;
    color: white;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold; }
  .footer-recruitment .footer-recruitment-btn {
    color: #002849;
    background-color: white;
    border: 1px solid white;
    border-radius: 30px;
    width: 90%;
    text-align: center;
    padding: 15px 10px;
    font-weight: bold; }

/**** DIVIDER ****/
.footer-divider {
  height: 2px;
  width: 90%;
  margin: 40px auto;
  background-color: white; }

/**** SECOND ROW ****/
.footer-second-row {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .footer-second-row p {
    color: white; }
  .footer-second-row nav {
    width: 50%; }
    .footer-second-row nav ul {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .footer-second-row nav ul li a {
        color: white; }

.homepage-main {
  position: relative; }

.homepage-top {
  height: 90vh;
  background-image: url("../img/static/homepage-top.png");
  background-repeat: no-repeat;
  background-position: 0 80%;
  background-size: cover;
  position: relative; }

.homepage-top-first-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 12vh; }
  .homepage-top-first-block .homepage-ptz {
    min-width: 95px;
    width: 9%;
    margin-left: 4%; }
    .homepage-top-first-block .homepage-ptz .homepage-ptz-btn {
      background-color: #FBB03B;
      color: white;
      font-weight: bold;
      padding: 10px;
      text-align: center;
      line-height: 25px;
      font-size: 1.1em; }
  .homepage-top-first-block .homepage-banner {
    width: 60%;
    min-height: 100px;
    padding: 20px;
    background-color: rgba(25, 44, 73, 0.8);
    margin-left: 7%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .homepage-top-first-block .homepage-banner p {
      color: white; }

.homepage-pastille-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin: 30px auto; }
  .homepage-pastille-box .homepage-pastille {
    width: 80px;
    height: 80px;
    background-color: #4489C8;
    color: white;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .homepage-pastille-box .homepage-pastille p {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold; }
    .homepage-pastille-box .homepage-pastille .big {
      font-size: 0.7em; }

.homepage-search-text {
  text-align: center; }
  .homepage-search-text h2 {
    color: white;
    text-transform: uppercase; }

.homepage-search-barre {
  width: 60%;
  margin: 20px auto;
  min-height: 6vh;
  background-color: white;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.homepage-search-first-row {
  display: flex;
  justify-content: space-around;
  padding: 5px; }

.homepage-search-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-right: 2px solid #002849;
  padding-right: 3px;
  margin-right: 3px;
  width: 15%;
  position: relative; }
  .homepage-search-block #city {
    position: relative; }
  .homepage-search-block #resultAutocompletion ul {
    background-color: white;
    padding: 10px 5%;
    width: 100%;
    position: absolute;
    top: 25px;
    left: 0;
    color: #4489C8;
    max-height: 100px;
    overflow-y: scroll; }
  .homepage-search-block #result, .homepage-search-block #resultTypo {
    position: absolute;
    background-color: white;
    top: 28px;
    left: 0;
    width: 100%;
    padding: 10px 5%;
    color: #4489C8;
    display: none;
    z-index: 999;
    max-height: 100px;
    overflow: scroll; }
  .homepage-search-block input[type='text'], .homepage-search-block p {
    color: #4489C8;
    border: none;
    font-size: 0.8em; }
  .homepage-search-block input[type='text'] {
    width: 80%;
    padding: 5px; }
  .homepage-search-block input[type='text']::placeholder {
    color: #4489C8; }
  .homepage-search-block .img-box {
    width: 5%; }
    .homepage-search-block .img-box img {
      width: 100%;
      height: auto; }
  .homepage-search-block .img-box:hover {
    cursor: pointer; }

.homepage-search-block:hover {
  cursor: pointer; }

.homepage-search-block-submit {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center; }
  .homepage-search-block-submit input {
    width: 100%;
    color: white;
    text-transform: uppercase;
    background-color: #002849;
    border: 1px solid #002849;
    border-radius: 20px;
    padding: 5% 0; }
  .homepage-search-block-submit input:hover {
    cursor: pointer;
    color: #002849;
    background-color: white; }

.homepage-search-others-container {
  display: none; }

.homepage-search-others {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 40px;
  padding: 20px; }
  .homepage-search-others .homepage-search-others-block {
    width: 33%; }
    .homepage-search-others .homepage-search-others-block .homepage-search-others-box {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: flex-start;
      margin: 20px 0; }
      .homepage-search-others .homepage-search-others-block .homepage-search-others-box label {
        color: #4489C8;
        font-weight: 700; }
      .homepage-search-others .homepage-search-others-block .homepage-search-others-box input, .homepage-search-others .homepage-search-others-block .homepage-search-others-box p {
        margin: 10px 0; }
      .homepage-search-others .homepage-search-others-block .homepage-search-others-box input {
        border-radius: 10px;
        border: none;
        background-color: #4489C8;
        color: white;
        padding: 5px; }
      .homepage-search-others .homepage-search-others-block .homepage-search-others-box input::placeholder {
        color: white; }
    .homepage-search-others .homepage-search-others-block .homepage-search-others-flex {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: row; }
      .homepage-search-others .homepage-search-others-block .homepage-search-others-flex label {
        margin: 0 2%; }

.homepage-search-others .years {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 80%; }
  .homepage-search-others .years .form-btn-selection {
    color: white;
    font-size: 1.2em;
    background-color: #4489C8;
    border-radius: 20px;
    padding: 5px;
    width: 30%;
    margin-right: 10px !important;
    text-align: center; }

.homepage-search-others-box .immediatly {
  color: white;
  font-size: 0.9em;
  background-color: #4489C8;
  border-radius: 20px;
  padding: 5px;
  margin-right: 10px !important;
  text-align: center; }

.homepage-search-others-block .rooms {
  display: flex;
  justify-content: flex-start;
  align-items: center; }
  .homepage-search-others-block .rooms .form-btn-selection {
    color: white;
    background-color: #4489C8;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin-right: 10px !important;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.homepage-search-others-block .prestations {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap; }
  .homepage-search-others-block .prestations .form-btn-selection {
    color: white;
    background-color: #4489C8;
    border-radius: 20px;
    margin-right: 10px !important;
    padding: 5px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; }

.homepage-search-others-box .immediatly:hover, .homepage-search-others .years .form-btn-selection:hover, .homepage-search-others-block .rooms .form-btn-selection:hover, .homepage-search-others-block .prestations .form-btn-selection:hover {
  cursor: pointer; }

#homepage-search-submit-responsive {
  display: none; }

.homepage-search-barre .selected {
  background-color: #FBB03B !important; }

/*************************************************************************
*********************************  BENEFITS  *****************************
**************************************************************************/
.homepage-benefits {
  height: 30vh;
  background-color: #002849;
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  justify-content: center; }

.homepage-benefits-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin: 0 auto; }

.homepage-benefits-block {
  width: 33%;
  text-align: center; }
  .homepage-benefits-block h3 {
    color: white;
    font-size: 0.9em; }
  .homepage-benefits-block .homepage-benefits-img-box {
    background-color: white;
    margin: 10px auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .homepage-benefits-block .homepage-benefits-img-box img {
      width: 100%;
      height: auto; }

/*************************************************************************
******************************  ACCOMPANIMENT  ***************************
**************************************************************************/
.homepage-accompaniment-container {
  width: 80%;
  margin: 50px auto;
  display: block; }
  .homepage-accompaniment-container h2 {
    color: #002849;
    text-transform: uppercase; }
    .homepage-accompaniment-container h2 span {
      font-size: 1.3em; }

/*************************************************************************
*********************************  PREVIEW  ******************************
**************************************************************************/
.homepage-preview {
  background-color: rgba(69, 138, 255, 0.2); }

.homepage-preview-container {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0; }
  .homepage-preview-container h2 {
    text-align: center;
    text-transform: uppercase;
    color: #002849;
    font-weight: bold; }

.homepage-preview-filters-box {
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .homepage-preview-filters-box p {
    text-align: center;
    text-transform: uppercase;
    color: #002849;
    font-weight: bold;
    padding: 10px;
    font-size: 1.1em; }
  .homepage-preview-filters-box .choice {
    border: 3px solid #FBB03B; }

.homepage-preview-result {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.homepage-preview-block {
  width: 30%; }
  .homepage-preview-block .img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px; }
    .homepage-preview-block .img-box img {
      width: 100%;
      height: auto; }
  .homepage-preview-block .name-city, .homepage-preview-block .price {
    color: #002849;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-weight: 700; }
    .homepage-preview-block .name-city h3, .homepage-preview-block .price h3 {
      margin-bottom: 5px; }

.homepage-preview-filter:hover {
  cursor: pointer; }

/*************************************************************************
*********************************  SERVICES  *****************************
**************************************************************************/
.homepage-services {
  background-color: rgba(69, 138, 255, 0.2);
  padding: 50px 0; }

.homepage-services-container {
  width: 90%;
  margin: 0 auto; }
  .homepage-services-container h2 {
    color: #4489C8;
    text-align: center;
    text-decoration: underline #FBB03B;
    margin-bottom: 80px; }
  .homepage-services-container .homepage-services-box {
    display: flex;
    justify-content: space-around;
    align-items: flex-start; }
    .homepage-services-container .homepage-services-box .homepage-services-block {
      width: 12%; }
      .homepage-services-container .homepage-services-box .homepage-services-block h3 {
        font-weight: bold;
        font-size: 0.8em;
        height: 20px;
        margin: 40px 0;
        color: #002849;
        text-transform: uppercase;
        text-align: center; }
      .homepage-services-container .homepage-services-box .homepage-services-block p {
        font-size: 0.9em;
        color: #002849; }
      .homepage-services-container .homepage-services-box .homepage-services-block .homepage-services-img-box {
        width: 60%;
        height: 100px;
        margin: 0 auto; }
        .homepage-services-container .homepage-services-box .homepage-services-block .homepage-services-img-box img {
          width: 100%;
          height: auto; }
    .homepage-services-container .homepage-services-box .homepage-services-divider {
      width: 2%;
      height: 18vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .homepage-services-container .homepage-services-box .homepage-services-divider .homepage-services-divider-img-box img {
        width: 100%;
        height: auto; }

/*************************************************************************
*********************************  REQUEST  *****************************
**************************************************************************/
.homepage-request {
  min-height: 50vh;
  background-image: url("../img/static/request.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 23%;
  display: flex;
  justify-content: flex-start; }

.homepage-request-box {
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .homepage-request-box p {
    font-size: 1.9em;
    line-height: 40px;
    color: white;
    text-align: center;
    font-weight: bold; }
  .homepage-request-box .homepage-request-btn {
    background-color: #FBB03B;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 20px; }

/*************************************************************************
*********************************  TESTIMONIES  **************************
**************************************************************************/
.homepage-testimonies-container {
  width: 90%;
  margin: 0 auto;
  min-height: 50vh;
  padding-top: 80px;
  padding-bottom: 80px; }
  .homepage-testimonies-container h2 {
    text-transform: uppercase;
    color: #002849; }

.homepage-testimonies .owl-item {
  display: flex;
  justify-content: center; }

.homepage-testimony-video-box {
  width: 50%; }

.homepage-testimony-second-box {
  width: 50%;
  padding: 0 10px; }
  .homepage-testimony-second-box .img-box {
    display: block;
    width: 40%;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto 50px; }
    .homepage-testimony-second-box .img-box img {
      width: 100%;
      height: auto; }
  .homepage-testimony-second-box p {
    color: #4489C8; }

.homepage-testimony-responsive-img-box {
  display: none; }

/*************************************************************************
*********************************  PROJECT  ******************************
**************************************************************************/
.homepage-project-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px; }

.homepage-project-blog {
  height: 30vh;
  background-image: url("../img/static/blog.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px;
  margin-bottom: 40px; }
  .homepage-project-blog .homepage-project-blog-txt-box {
    height: 100%;
    border: 2px solid #FBB03B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px 10px 10px; }
    .homepage-project-blog .homepage-project-blog-txt-box p {
      text-align: center;
      color: white;
      font-size: 1.8em;
      font-weight: bold;
      margin-bottom: 20px; }
    .homepage-project-blog .homepage-project-blog-txt-box .homepage-project-blog-btn {
      background-color: #4489C8; }

.homepage-project-blog-btn, .homepage-project-owner-btn, .homepage-project-find-btn {
  background-color: #FBB03B;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1.4em;
  text-align: center; }

.homepage-project-pdf-box {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .homepage-project-pdf-box .homepage-project-find-block {
    background-image: url("../img/static/guid-find.jpg"); }
  .homepage-project-pdf-box .homepage-project-owner-block {
    background-image: url("../img/static/guid-owner.png"); }

.homepage-project-find-block, .homepage-project-owner-block {
  width: 40%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .homepage-project-find-block p, .homepage-project-owner-block p {
    text-align: center;
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px; }

/*************************************************************************
*********************************  NEWSLETTER  ***************************
**************************************************************************/
.homepage-newsletter {
  padding-top: 40px;
  padding-bottom: 30px; }
  .homepage-newsletter h2 {
    text-align: center;
    color: #002849;
    text-transform: uppercase;
    margin-bottom: 50px; }

.homepage-newsletter-form-box {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 80%;
  margin: 0 auto; }
  .homepage-newsletter-form-box input[type="image"] {
    width: 4%;
    min-width: 45px; }

.homepage-newsletter-form-block {
  display: flex;
  flex-direction: column; }
  .homepage-newsletter-form-block label {
    text-transform: uppercase;
    color: #4489C8;
    font-size: 0.8em; }
  .homepage-newsletter-form-block input {
    border: 2px solid #002849;
    border-radius: 20px;
    font-size: 0.9em;
    margin-top: 10px;
    padding: 5px;
    width: 120%; }

/*************************************************************************
*********************************  RESPONSIVE  ***************************
**************************************************************************/
.homepage-ptz-responsive, .homepage-preview-responsive {
  display: none; }

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s; }

.slider:before {
  position: absolute;
  content: "";
  height: 90%;
  width: 40%;
  left: 4px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

input:checked + .slider {
  background-color: #002849; }

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3; }

input:checked + .slider:before {
  -webkit-transform: translateX(90%);
  -ms-transform: translateX(90%);
  transform: translateX(90%); }

/* Rounded sliders */
.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

.aside {
  position: fixed;
  top: 10%;
  right: 2%;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 80vh; }

.vertical-line {
  width: 2px;
  height: 20vh;
  background-color: white; }

.square {
  width: 8px;
  height: 8px;
  background-color: white; }

@media screen and (max-width: 930px) {
  .aside {
    display: none; } }
.search-main {
  position: relative; }

.search-top {
  height: 90vh;
  width: 100%;
  background-image: url("../img/static/search-top.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }

/*************************************************************************
*********************************  MODAL  ********************************
**************************************************************************/
.search-modal {
  position: fixed;
  top: 15%;
  right: 5%;
  width: 25%;
  background-color: white;
  padding: 10px;
  border: 1px solid #4489C8; }

.search-modal-title {
  color: #002849;
  text-align: center;
  font-weight: 700;
  line-height: 50px;
  font-size: 1.4em; }

.search-modal-text {
  text-align: center;
  color: #002849;
  font-weight: 700; }
  .search-modal-text .search-modal-number {
    font-size: 1.1em;
    color: #4489C8; }

.search-modal-or {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 30px auto 0; }
  .search-modal-or .greyLine {
    height: 2px;
    width: 100%;
    background-color: grey; }
  .search-modal-or p {
    color: grey; }

.search-modal-upload {
  background-color: #FBB03B;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
  margin: 10px auto;
  padding: 10px 0;
  border-radius: 30px; }
  .search-modal-upload .img-box {
    width: 15%; }
    .search-modal-upload .img-box img {
      width: 100%;
      height: auto; }
  .search-modal-upload p {
    color: white;
    font-size: 0.7em; }

.search-modal-upload:hover {
  background-color: #4489C8; }

.search-modal-dividerGrey {
  height: 2px;
  width: 40%;
  margin: 0 auto 30px;
  background-color: grey; }

.search-modal-form {
  width: 60%;
  margin: 0 auto; }
  .search-modal-form label, .search-modal-form input {
    display: block; }
  .search-modal-form label {
    color: #4489C8; }
  .search-modal-form input {
    width: 100%;
    background-color: #e8f0fe;
    height: 40px;
    border: none;
    margin-bottom: 20px;
    padding: 10px; }
  .search-modal-form .btn {
    text-align: center;
    margin: 30px 0; }
    .search-modal-form .btn input[type='submit'] {
      text-align: center;
      background-color: #4489C8;
      color: white;
      text-transform: uppercase;
      padding: 5px 10px;
      width: 70%;
      border-radius: 30px;
      font-size: 1em;
      margin: 0 auto; }
    .search-modal-form .btn input[type='submit']:hover {
      background-color: #FBB03B;
      cursor: pointer; }

/*************************************************************************
*********************************  SEARCH  ********************************
**************************************************************************/
.search-search-barre .homepage-search-barre {
  border: 2px solid #002849;
  margin-top: 40px;
  margin-left: 30px; }

.search-results {
  width: 70%;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 50px; }

.search-results-program {
  width: 45%;
  margin: 40px 0; }
  .search-results-program .search-results-program-img-box {
    margin-bottom: 20px; }
    .search-results-program .search-results-program-img-box img {
      width: 100%;
      height: auto; }
  .search-results-program p, .search-results-program h2 {
    color: #002849;
    text-transform: uppercase; }
  .search-results-program h2 {
    font-weight: 700;
    font-size: 1.4em; }
  .search-results-program .price {
    margin-top: 20px; }

.empty-white {
  background-color: white;
  width: 100%;
  height: 294px;
  border: 1px solid #002849; }

.search-search-barre .selected {
  background-color: #FBB03B !important; }

/*************************************************************************
*********************************  PAGINATION  ***************************
**************************************************************************/
.search-pagination {
  width: 70%;
  margin: 50px 0; }

.search-pagination-box {
  display: flex;
  justify-content: center;
  align-items: center; }
  .search-pagination-box p {
    color: #002849; }

.search-pagination-square {
  width: 15px;
  height: 15px;
  background-color: #002849;
  margin: 0 20px;
  border: none; }

.search-pagination-square:hover {
  cursor: pointer; }

/*************************************************************************
*********************************  BOTTOM  *******************************
**************************************************************************/
.search-bottom-title {
  text-transform: uppercase;
  color: #002849;
  margin-left: 20px; }

.search-bottom-link-form {
  margin: 20px 0 0 20px;
  background-color: #4489C8;
  color: white;
  padding: 10px;
  width: 15%;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.9em;
  border-radius: 20px; }

.search-bottom-link-form:hover {
  cursor: pointer;
  background-color: #FBB03B; }

.search-bottom-text {
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 20px;
  width: 60%;
  border: 1px solid #002849;
  padding: 20px; }

.emailSent-block {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .emailSent-block p {
    text-align: center;
    color: #002849; }

@media screen and (max-width: 930px) {
  .header-container {
    display: none; }

  main {
    padding-top: 0; }

  .header-logo-white-box {
    display: block;
    width: 40%;
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 99; }
    .header-logo-white-box img {
      width: 100%;
      height: auto; }

  /*******************  MENU  *******************/
  .header-responsive-menu {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20vh;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }

  .header-responsive-menu-container {
    height: 50%;
    width: 100%;
    background-color: #4489C8;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; }
    .header-responsive-menu-container ul {
      display: flex;
      justify-content: space-around;
      align-items: flex-end; }
      .header-responsive-menu-container ul li {
        width: 20%; }

  .header-responsive-img-box, .header-responsive-img-box-phone {
    width: 50%;
    margin: 0 auto; }
    .header-responsive-img-box img, .header-responsive-img-box-phone img {
      width: 100%;
      height: auto; }

  .header-responsive-img-box-phone {
    width: 100%;
    border: 3px solid #4489C8;
    border-radius: 50%; }

  /*******************  MAIN - CONTACT MODAL  *******************/
  .contact-modal {
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    height: 100%;
    padding: 20px 10px;
    overflow-y: scroll; }

  .contact-modal-container {
    display: block; }
    .contact-modal-container .contact-modal-block {
      width: 100%; }
      .contact-modal-container .contact-modal-block .contact-modal-social, .contact-modal-container .contact-modal-block .contact-modal-number, .contact-modal-container .contact-modal-block .contact-modal-mail {
        margin: 0; }
      .contact-modal-container .contact-modal-block .contact-modal-social {
        margin-top: 20px; }

  .contact-modal-block form .form-row {
    display: block;
    width: 100%; }
    .contact-modal-block form .form-row .form-field {
      width: 100%; }

  /*******************  FOOTER  *******************/
  .footer-number {
    display: none; }

  .footer-social {
    width: 45%; }
    .footer-social p {
      text-align: center; }

  .footer-recruitment {
    width: 45%; }
    .footer-recruitment p {
      text-align: center; }
    .footer-recruitment .footer-recruitment-btn {
      padding: 5px 10px;
      font-size: 0.9em;
      margin: 0 auto; }

  .footer-second-row {
    flex-direction: column;
    font-size: 0.8em;
    line-height: 30px; }
    .footer-second-row nav {
      width: 100%; }
      .footer-second-row nav ul {
        flex-direction: column; } }
@media screen and (max-width: 930px) {
  .homepage-top {
    background-position: 50%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; }

  .homepage-ptz {
    display: none; }

  .homepage-ptz-responsive {
    min-width: 95px;
    width: 9%;
    margin-left: 4%;
    display: block; }
    .homepage-ptz-responsive .homepage-ptz-btn {
      background-color: #FBB03B;
      color: white;
      font-weight: bold;
      padding: 5px 10px;
      text-align: center;
      line-height: 20px;
      font-size: 0.9em; }

  .homepage-pastille-box {
    width: 100%; }
    .homepage-pastille-box .homepage-pastille {
      width: 50px;
      height: 50px; }
      .homepage-pastille-box .homepage-pastille p {
        font-size: 0.7em; }
      .homepage-pastille-box .homepage-pastille .big {
        font-size: 0.5em; }

  /*************************************************************************
  *********************************  BENEFITS  *****************************
  **************************************************************************/
  .homepage-benefits {
    height: 100%; }

  .homepage-benefits-container {
    width: 100%; }

  .homepage-benefits-block {
    width: 25%; }
    .homepage-benefits-block h3 {
      font-size: 0.7em; }
    .homepage-benefits-block .homepage-benefits-img-box {
      width: 50px;
      height: 50px; }

  /*************************************************************************
  *********************************  ACCOMPANIMENT  *****************************
  **************************************************************************/
  .homepage-accompaniment-container {
    width: 100%;
    text-align: center; }
    .homepage-accompaniment-container h2 {
      font-size: 1.3em; }
      .homepage-accompaniment-container h2 span {
        font-size: 1.3em; }

  /*************************************************************************
  *********************************  PREVIEW  *****************************
  **************************************************************************/
  .homepage-preview {
    display: none; }

  .homepage-preview-responsive {
    display: block;
    background-color: rgba(69, 138, 255, 0.2);
    padding-top: 40px; }
    .homepage-preview-responsive h2 {
      color: #002849;
      text-transform: uppercase;
      text-align: center;
      margin-bottom: 40px; }

  .homepage-preview-responsive-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 90%;
    margin: 0 auto; }
    .homepage-preview-responsive-container .homepage-preview-responsive-block {
      margin-bottom: 50px;
      background-color: white; }
      .homepage-preview-responsive-container .homepage-preview-responsive-block .homepage-preview-responsive-img-box {
        position: relative; }
        .homepage-preview-responsive-container .homepage-preview-responsive-block .homepage-preview-responsive-img-box h3 {
          position: absolute;
          bottom: 10%;
          left: 5%;
          color: white; }
        .homepage-preview-responsive-container .homepage-preview-responsive-block .homepage-preview-responsive-img-box img {
          width: 100%;
          height: auto; }
      .homepage-preview-responsive-container .homepage-preview-responsive-block .homepage-preview-responsive-txt-box {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px 0; }
        .homepage-preview-responsive-container .homepage-preview-responsive-block .homepage-preview-responsive-txt-box p {
          width: 60%;
          color: #002849;
          font-size: 0.8em; }
        .homepage-preview-responsive-container .homepage-preview-responsive-block .homepage-preview-responsive-txt-box a {
          width: 20%;
          display: flex;
          flex-direction: column;
          align-items: flex-end; }
          .homepage-preview-responsive-container .homepage-preview-responsive-block .homepage-preview-responsive-txt-box a .homepage-preview-responsive-txt-arrow {
            width: 50%;
            margin-right: 20%; }
            .homepage-preview-responsive-container .homepage-preview-responsive-block .homepage-preview-responsive-txt-box a .homepage-preview-responsive-txt-arrow img {
              width: 100%;
              height: auto; }
          .homepage-preview-responsive-container .homepage-preview-responsive-block .homepage-preview-responsive-txt-box a .text-light {
            width: 100%;
            font-size: 0.7em;
            color: #4489C8; }

  /*************************************************************************
  *********************************  SERVICES  *****************************
  **************************************************************************/
  .homepage-services {
    width: 100%; }

  .homepage-services-container h2 {
    font-size: 0.9em;
    font-weight: normal; }
  .homepage-services-container .homepage-services-box {
    flex-wrap: wrap;
    padding: 0 5px; }
    .homepage-services-container .homepage-services-box .homepage-services-block {
      width: 30%; }
      .homepage-services-container .homepage-services-box .homepage-services-block p {
        display: none; }
      .homepage-services-container .homepage-services-box .homepage-services-block .homepage-services-img-box {
        height: 100%; }
    .homepage-services-container .homepage-services-box .homepage-services-divider {
      width: 5%; }
    .homepage-services-container .homepage-services-box .homepage-services-third-divider {
      display: none; }

  /*************************************************************************
  *********************************  REQUEST  *****************************
  **************************************************************************/
  .homepage-request {
    min-height: 30vh;
    height: 30vh;
    background-size: 200%;
    background-position: 30% 23%; }

  .homepage-request-box {
    height: 30vh; }
    .homepage-request-box p {
      font-size: 1.1em;
      line-height: 20px; }
    .homepage-request-box .homepage-request-btn {
      padding: 5px 10%;
      text-align: center; }

  /*************************************************************************
  *********************************  TESTIMONIES  **************************
  **************************************************************************/
  .homepage-testimonies-container h2 {
    text-align: center; }

  .homepage-testimonies .owl-item {
    display: block; }

  .homepage-testimony-responsive-img-box {
    display: block;
    width: 40%;
    margin: 20px auto;
    border-radius: 50%;
    overflow: hidden; }
    .homepage-testimony-responsive-img-box img {
      width: 100%;
      height: auto; }

  .homepage-testimony-second-box {
    width: 100%; }

  .homepage-testimony-second-box .img-box {
    display: none; }

  .homepage-testimony-second-box p {
    text-align: center;
    margin: 30px 0; }

  .homepage-testimony-video-box {
    width: 100%; }
    .homepage-testimony-video-box iframe {
      width: 100%; }

  /*************************************************************************
  *********************************  PROJECT  ******************************
  **************************************************************************/
  .homepage-project-container {
    width: 95%; }

  .homepage-project-blog .homepage-project-blog-txt-box p {
    font-size: 1.5em; }

  .homepage-project-find-block, .homepage-project-owner-block {
    width: 48%; }
    .homepage-project-find-block p, .homepage-project-owner-block p {
      font-size: 1.3em; }

  .homepage-project-blog-btn, .homepage-project-owner-btn, .homepage-project-find-btn {
    font-size: 1.1em; }

  /*************************************************************************
  *********************************  NEWSLETTER  ***************************
  **************************************************************************/
  .homepage-newsletter h2 {
    font-size: 0.9em; }

  .homepage-newsletter-form-box {
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .homepage-newsletter-form-box .homepage-newsletter-form-block {
      width: 100%; }
      .homepage-newsletter-form-box .homepage-newsletter-form-block input {
        width: 100%; }
      .homepage-newsletter-form-box .homepage-newsletter-form-block label {
        margin-top: 10px; }
    .homepage-newsletter-form-box input[type="image"] {
      margin-top: 20px; } }
@media screen and (max-width: 1300px) {
  .homepage-search-barre {
    background-color: transparent;
    width: 90%; }
    .homepage-search-barre .homepage-search-first-row {
      display: block; }
      .homepage-search-barre .homepage-search-first-row .homepage-search-block {
        width: 100%;
        border: none; }
        .homepage-search-barre .homepage-search-first-row .homepage-search-block .img-box {
          width: 3%; }
        .homepage-search-barre .homepage-search-first-row .homepage-search-block input[type="text"] {
          padding: 10px;
          width: 95%;
          border-radius: 20px;
          margin: 10px 0; }
        .homepage-search-barre .homepage-search-first-row .homepage-search-block p {
          background-color: white;
          padding: 10px;
          width: 95%;
          border-radius: 20px;
          margin: 10px 0; }
        .homepage-search-barre .homepage-search-first-row .homepage-search-block #result, .homepage-search-barre .homepage-search-first-row .homepage-search-block #resultTypo, .homepage-search-barre .homepage-search-first-row .homepage-search-block #resultAutocompletion ul {
          top: 45px;
          width: 94%;
          z-index: 9999; }

  .homepage-search-others {
    background-color: white;
    border-radius: 20px;
    display: block; }
    .homepage-search-others .homepage-search-others-block {
      width: 100%; }

  #homepage-search-submit-responsive {
    display: block;
    width: 100%; }
    #homepage-search-submit-responsive .homepage-search-btn {
      padding: 2%;
      border: 2px solid white; }

  #homepage-search-submit {
    display: none; } }
@media screen and (max-width: 1300px) {
  .search-modal {
    display: none; }

  .search-top {
    display: none; }

  .search-search-barre {
    min-height: 90vh;
    width: 100%;
    background-image: url("../img/static/search-top.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 30px; }
    .search-search-barre .homepage-search-barre {
      margin: 0;
      border: none;
      width: 100%; }
      .search-search-barre .homepage-search-barre .homepage-search-block-submit {
        margin-top: 20px; }

  .search-results {
    width: 100%; }

  .search-results-program {
    width: 100%; }

  .search-bottom-link-form {
    width: 50%; }

  .search-bottom-btn {
    text-align: center; }

  .search-bottom-text {
    width: 90%; } }

/*# sourceMappingURL=styles.css.map */
