* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

li {
  list-style-type: none; }

a {
  text-decoration: none; }

a:hover, li:hover, button:hover {
  cursor: pointer; }

@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Regular.ttf") format("truetype"); }
@font-face {
  font-family: "Gilroy";
  src: url("../font/Gilroy-Bold.ttf") format("truetype");
  font-weight: bold; }
h1, h2, h3, a, li, p, label {
  font-family: "Gilroy", sans-serif; }

/*******************  HEADER  *******************/
.header-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: white;
  position: fixed;
  z-index: 99; }

.header-img-box {
  width: 10%; }
  .header-img-box img {
    width: 100%;
    height: auto; }

.header-menu {
  width: 70%;
  display: flex;
  justify-content: flex-end; }
  .header-menu .header-menu-ul {
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .header-menu .header-menu-ul li a {
      color: #002849; }
    .header-menu .header-menu-ul li a:hover {
      color: #FBB03B; }

.header-contact {
  width: 3%; }
  .header-contact img {
    width: 100%;
    height: auto; }

/*******************  MAIN  *******************/
main {
  min-height: 60vh;
  padding-top: 10vh; }

/*******************  FOOTER  *******************/
.footer-container {
  background-color: #002849;
  padding-top: 60px;
  padding-bottom: 50px; }

/**** FIRST ROW ****/
.footer-first-row {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }

.footer-number {
  width: 20%;
  padding-top: 40px; }
  .footer-number p {
    color: white;
    font-size: 1.4em;
    font-weight: bold; }

.footer-social {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }
  .footer-social p {
    font-size: 0.9em;
    color: white;
    margin-bottom: 20px;
    margin-left: 10%;
    text-transform: uppercase;
    font-weight: bold; }
  .footer-social .footer-social-link-block {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .footer-social .footer-social-link-block .footer-social-link-box {
      width: 20%;
      min-width: 55px; }
      .footer-social .footer-social-link-block .footer-social-link-box img {
        width: 100%;
        height: auto; }

.footer-recruitment {
  width: 20%; }
  .footer-recruitment p {
    font-size: 0.9em;
    color: white;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: bold; }
  .footer-recruitment .footer-recruitment-btn {
    color: #002849;
    background-color: white;
    border: 1px solid white;
    border-radius: 30px;
    width: 90%;
    text-align: center;
    padding: 15px 10px;
    font-weight: bold; }

/**** DIVIDER ****/
.footer-divider {
  height: 2px;
  width: 90%;
  margin: 40px auto;
  background-color: white; }

/**** SECOND ROW ****/
.footer-second-row {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .footer-second-row p {
    color: white; }
  .footer-second-row nav {
    width: 50%; }
    .footer-second-row nav ul {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .footer-second-row nav ul li a {
        color: white; }

.homepage-top {
  height: 90vh;
  background-image: url("../img/static/homepage-top.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative; }

.homepage-top-first-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-top: 12vh; }
  .homepage-top-first-block .homepage-ptz {
    min-width: 95px;
    width: 9%;
    margin-left: 4%; }
    .homepage-top-first-block .homepage-ptz .homepage-ptz-btn {
      background-color: #FBB03B;
      color: white;
      font-weight: bold;
      padding: 10px;
      text-align: center;
      line-height: 25px;
      font-size: 1.1em; }
  .homepage-top-first-block .homepage-banner {
    width: 60%;
    min-height: 100px;
    padding: 20px;
    background-color: rgba(25, 44, 73, 0.8);
    margin-left: 7%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .homepage-top-first-block .homepage-banner p {
      color: white; }

.homepage-pastille-box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 40%;
  margin: 30px auto; }
  .homepage-pastille-box .homepage-pastille {
    width: 80px;
    height: 80px;
    background-color: #4489C8;
    color: white;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .homepage-pastille-box .homepage-pastille p {
      text-align: center;
      text-transform: uppercase;
      font-weight: bold; }
    .homepage-pastille-box .homepage-pastille .big {
      font-size: 0.7em; }

.homepage-search-text {
  text-align: center; }
  .homepage-search-text h2 {
    color: white;
    text-transform: uppercase; }

.homepage-search-barre {
  width: 60%;
  margin: 20px auto;
  height: 10vh;
  background-color: grey; }

/*************************************************************************
*********************************  BENEFITS  *****************************
**************************************************************************/
.homepage-benefits {
  height: 30vh;
  background-color: #002849;
  padding: 40px 0; }

.homepage-benefits-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  width: 50%;
  margin: 0 auto; }

.homepage-benefits-block {
  width: 33%;
  text-align: center; }
  .homepage-benefits-block h3 {
    color: white;
    font-size: 0.9em; }
  .homepage-benefits-block .homepage-benefits-img-box {
    background-color: white;
    margin: 10px auto;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .homepage-benefits-block .homepage-benefits-img-box img {
      width: 100%;
      height: auto; }

/*************************************************************************
******************************  ACCOMPANIMENT  ***************************
**************************************************************************/
.homepage-accompaniment-container {
  width: 80%;
  margin: 50px auto; }
  .homepage-accompaniment-container h2 {
    color: #002849;
    text-transform: uppercase; }
    .homepage-accompaniment-container h2 span {
      font-size: 1.3em; }

.homepage-accompaniment-video-box {
  width: 80%;
  margin: 50px auto;
  height: 50vh;
  background-color: grey; }

/*************************************************************************
*********************************  PREVIEW  ******************************
**************************************************************************/
.homepage-preview {
  background-color: rgba(69, 138, 255, 0.2); }

.homepage-preview-container {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0; }
  .homepage-preview-container h2 {
    text-align: center;
    text-transform: uppercase;
    color: #002849;
    font-weight: bold; }

.homepage-preview-filters-box {
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .homepage-preview-filters-box p {
    text-align: center;
    text-transform: uppercase;
    color: #002849;
    font-weight: bold;
    padding: 10px;
    font-size: 1.1em; }
  .homepage-preview-filters-box .choice {
    border: 3px solid #FBB03B; }

.homepage-preview-result {
  height: 50vh;
  width: 100%;
  background-color: grey; }

.homepage-preview-filter:hover {
  cursor: pointer; }

/*************************************************************************
*********************************  SERVICES  *****************************
**************************************************************************/
.homepage-services {
  width: 90%;
  margin: 0 auto;
  padding: 50px 0; }

.homepage-services-container h2 {
  color: #4489C8;
  text-align: center;
  text-decoration: underline #FBB03B;
  margin-bottom: 80px; }
.homepage-services-container .homepage-services-box {
  display: flex;
  justify-content: space-around;
  align-items: flex-start; }
  .homepage-services-container .homepage-services-box .homepage-services-block {
    width: 12%; }
    .homepage-services-container .homepage-services-box .homepage-services-block h3 {
      font-weight: bold;
      font-size: 0.8em;
      height: 20px;
      margin: 40px 0;
      color: #002849;
      text-transform: uppercase; }
    .homepage-services-container .homepage-services-box .homepage-services-block p {
      font-size: 0.9em;
      color: #002849; }
    .homepage-services-container .homepage-services-box .homepage-services-block .homepage-services-img-box {
      width: 60%;
      height: 100px;
      margin: 0 auto; }
      .homepage-services-container .homepage-services-box .homepage-services-block .homepage-services-img-box img {
        width: 100%;
        height: auto; }
  .homepage-services-container .homepage-services-box .homepage-services-divider {
    width: 2%;
    height: 18vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .homepage-services-container .homepage-services-box .homepage-services-divider .homepage-services-divider-img-box img {
      width: 100%;
      height: auto; }

/*************************************************************************
*********************************  REQUEST  *****************************
**************************************************************************/
.homepage-request {
  min-height: 50vh;
  background-image: url("../img/static/request.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 23%;
  display: flex;
  justify-content: flex-start; }

.homepage-request-box {
  width: 50%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .homepage-request-box p {
    font-size: 1.9em;
    line-height: 40px;
    color: white;
    text-align: center;
    font-weight: bold; }
  .homepage-request-box .homepage-request-btn {
    background-color: #FBB03B;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 20px; }

/*************************************************************************
*********************************  TESTIMONIES  **************************
**************************************************************************/
.homepage-testimonies-container {
  width: 90%;
  margin: 0 auto;
  min-height: 50vh;
  padding-top: 80px;
  padding-bottom: 80px; }
  .homepage-testimonies-container h2 {
    text-transform: uppercase;
    color: #002849; }

.homepage-testimonies-caroussel {
  height: 50vh;
  margin-top: 50px;
  background-color: grey; }

/*************************************************************************
*********************************  PROJECT  ******************************
**************************************************************************/
.homepage-project-container {
  width: 90%;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 50px; }

.homepage-project-blog {
  height: 30vh;
  background-image: url("../img/static/blog.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 10px;
  margin-bottom: 40px; }
  .homepage-project-blog .homepage-project-blog-txt-box {
    height: 100%;
    border: 2px solid #FBB03B;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 10px 10px 10px; }
    .homepage-project-blog .homepage-project-blog-txt-box p {
      text-align: center;
      color: white;
      font-size: 1.8em;
      font-weight: bold;
      margin-bottom: 20px; }
    .homepage-project-blog .homepage-project-blog-txt-box .homepage-project-blog-btn {
      background-color: #4489C8; }

.homepage-project-blog-btn, .homepage-project-owner-btn, .homepage-project-find-btn {
  background-color: #FBB03B;
  color: white;
  padding: 10px 20px;
  border-radius: 30px;
  font-size: 1.4em;
  text-align: center; }

.homepage-project-pdf-box {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  .homepage-project-pdf-box .homepage-project-find-block {
    background-image: url("../img/static/guid-find.jpg"); }
  .homepage-project-pdf-box .homepage-project-owner-block {
    background-image: url("../img/static/guid-owner.png"); }

.homepage-project-find-block, .homepage-project-owner-block {
  width: 40%;
  height: 30vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .homepage-project-find-block p, .homepage-project-owner-block p {
    text-align: center;
    color: white;
    font-size: 1.8em;
    font-weight: bold;
    margin-bottom: 20px; }

/*************************************************************************
*********************************  NEWSLETTER  ***************************
**************************************************************************/
.homepage-newsletter {
  padding-top: 40px;
  padding-bottom: 30px; }
  .homepage-newsletter h2 {
    text-align: center;
    color: #002849;
    text-transform: uppercase;
    margin-bottom: 50px; }

.homepage-newsletter-form-box {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 80%;
  margin: 0 auto; }
  .homepage-newsletter-form-box input[type="image"] {
    width: 4%;
    min-width: 45px; }

.homepage-newsletter-form-block {
  display: flex;
  flex-direction: column; }
  .homepage-newsletter-form-block label {
    text-transform: uppercase;
    color: #4489C8;
    font-size: 0.8em; }
  .homepage-newsletter-form-block input {
    border: 2px solid #002849;
    border-radius: 20px;
    font-size: 0.9em;
    margin-top: 10px;
    padding: 5px;
    width: 120%; }

.emailSent-block {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .emailSent-block p {
    text-align: center;
    color: #002849; }

/*# sourceMappingURL=styles.css.map */
