<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<p>Bonjour,</p>

<p>Une nouvelle inscription à la newsletter à été confirmée ce jour : </p>
<ul>
    <li>Genre : {{ gender }}</li>
    <li>Nom : {{ name }}</li>
    <li>Email : {{ email }}</li>
    <li>Ville : {{ city }}</li>
</ul>

<p>Rappel : un mail de confirmation a été envoyé à l'utilisateur concerné.</p>



</body>
</html>