<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <p>Bonjour {{ name }}</p>

    <p>Un pas de plus vers votre logement de rêve. Vous allez avancé, c'est assuré.<br/>
        Surveillez vos mails et soyez réactif:<br/>
        <i>Si quelqu’un vous offre une opportunité incroyable mais que vous n’êtes pas sûr de pouvoir le faire, dites
            oui – alors apprenez comment le faire plus tard ! - Richard Branson</i></p>
    <p>En cas de questions ou si vous souhaitez vous désinscrire de la newsletter, vous pouvez nous contacter via la
        page "contact" du site.</p>

    <p>L'équipe du site LocataireAPropriétaire</p>



</body>
</html>