<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<p>Bonjour {{ name }}</p>

<p>Merci pour votre inscription à notre newsletter.</p>
<p>Celle-ci a bien été confirmée, vous recevrez prochainement les meilleurs plans sur Bordeaux Métropole.</p>
<p>En cas de questions ou si vous souhaitez vous désinscrire de la newsletter, vous pouvez nous contacter via la
    page "contact" du site.</p>

<p>L'équipe du site LocataireAPropriétaire</p>



</body>
</html>